{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">INVOICES LIST</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'create_invoice'%}" class="btn btn-primary my-3" role="button">New Invoice</a>
  </div>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">CLIENT</th>
        <th scope="col">WAITER</th>
        <th scope="col">TABLE</th>
        <th scope="col">STOCK</th>
        <th scope="col">ORDER</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <th scope="row">{{invoice.id_invoice}}</th>
        <td>{{invoice.id_client}}</td>
        <td>{{invoice.id_waiter}}</td>
        <td>{{invoice.id_table}}</td>
        <td>{{invoice.id_stock}}</td>
        <td>{{invoice.id_order}}</td>
        <td>
          <a rol="button" href="{% url 'update_invoice' invoice.id_invoice%}" class="btn btn-primary">Edit</a>
          <a rol="button" href="{% url 'delete_invoice' invoice.id_invoice%}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">do not Tables registred</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
