{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">CLIENT LIST</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'create_client'%}" class="btn btn-primary my-3" role="button">New Client</a>
  </div>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">OBSERVATIONS</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
      <tr>
        <th scope="row">{{client.id_client}}</th>
        <td>{{client.name}}</td>
        <td>{{client.last_name}}</td>
        <td>{{client.observations}}</td>
        <td>
          <a rol="button" href="{% url 'update_client' client.id_client %}" class="btn btn-primary">Edit</a>
          <a rol="button" href="{% url 'delete_client' client.id_client %}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">do not clients registred</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
