{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">CREATE CLIENT</h1>
  <form method="post" action="">
    {% csrf_token %} {{form.as_p}}
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="New Client" />
      <a href="{% url 'client_list'%}" role="button" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
