{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">DELETE TABLE</h1>
  <form method="post" action="">
    {% csrf_token %}
    <h3>
      Seguro deseas Eliminar el Table
      <span class="text-danger">{{object.id_table}}</span>
    </h3>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Delete Table" />
      <a href="{% url 'table_list'%}" role="button" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
