{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">TABLES LIST</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'create_table'%}" class="btn btn-primary my-3" role="button">New Table</a>
  </div>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ZONE</th>
        <th scope="col">NUM DINERS</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for table in tables %}
      <tr>
        <th scope="row">{{table.id_table}}</th>
        <td>{{table.zone}}</td>
        <td>{{table.num_diners}}</td>
        <td>
          <a rol="button" href="{% url 'update_table' table.id_table%}" class="btn btn-primary">Edit</a>
          <a rol="button" href="{% url 'delete_table' table.id_table%}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">do not Tables registred</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
