{% extends 'index.html'%} {% load static %}{% block navbar%}{% endblock %}{% block content %}
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4 pt-4 text-center">
          <i class="fa-solid fa-utensils" style="font-size: 36px; margin-right: 5px"></i>
          <span class="h1 fw-bold mb-0"> Restaurant</span>
        </div>

        <div class="d-flex justify-content-center px-5 ms-xl-4 pt-xl-0 mt-xl-n5" style="margin-top: 30px">
          <form style="width: 23rem text-center" method="post">
            {% csrf_token %}
            <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px">Log in</h3>

            <div class="form-outline mb-4">
              <input type="text" id="form2Example18" class="form-control form-control-lg" name="username" placeholder="Username" required />
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="form2Example28" class="form-control form-control-lg" name="password" placeholder="Password" required />
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block col-12" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="{% static 'images/restauran.webp' %}" alt="Login image" class="w-100 vh-100 bg-image-vertical" style="object-fit: cover; object-position: left" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
