{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">DELETE WAITER</h1>
  <form method="post" action="">
    {% csrf_token %}
    <h3>
      Sguro deseas Eliminar el Waiter
      <span class="text-danger">{{object.name}} {{object.first_last_name}}</span>
    </h3>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Delete Waiter" />
      <a href="{% url 'waiter_list'%}" role="button" class="btn btn-danger">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
