{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">WAITER LIST</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'create_waiter'%}" class="btn btn-primary my-3" role="button">New Waiter</a>
  </div>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">FIRST LAST NAME</th>
        <th scope="col">SECOND LAST NAME</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for waiter in waiters %}
      <tr>
        <th scope="row">{{waiter.id_waiter}}</th>
        <td>{{waiter.name}}</td>
        <td>{{waiter.first_last_name}}</td>
        <td>{{waiter.second_last_name}}</td>
        <td>
          <a rol="button" href="{% url 'update_waiter' waiter.id_waiter%}" class="btn btn-primary">Edit</a>
          <a rol="button" href="{% url 'delete_waiter' waiter.id_waiter%}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">do not waiters registred</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
