{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">STOCKS LIST</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'create_stock'%}" class="btn btn-primary my-3" role="button">New Stock</a>
  </div>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">TYPE</th>
        <th scope="col">IMPORTE</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <th scope="row">{{stock.id_stock}}</th>
        <td>{{stock.name}}</td>
        <td>{{stock.type}}</td>
        <td>{{stock.importe}}</td>
        <td>
          <a rol="button" href="{% url 'update_stock' stock.id_stock%}" class="btn btn-primary">Edit</a>
          <a rol="button" href="{% url 'delete_stock' stock.id_stock%}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">do not Importes registred</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
