{% extends 'index.html'%} {% block content %}
<div class="container">
  <h1 class="text-center my-4">ORDERS LIST</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'create_order'%}" class="btn btn-primary my-3" role="button">New Order</a>
  </div>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">STOCK</th>
        <th scope="col">QANTITY</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <th scope="row">{{order.id_order}}</th>
        <td>{{order.id_stock}}</td>
        <td>{{order.quantity}}</td>
        <td>
          <a rol="button" href="{% url 'update_order' order.id_order%}" class="btn btn-primary">Edit</a>
          <a rol="button" href="{% url 'delete_order' order.id_order%}" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">do not Tables registred</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
